/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
html
{
	width: 100%;
	height: 100%;
}
body
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 98.5%;
	overflow: hidden;
	font-family: 'Outfit';
	background-color: hsl(0, 0%, 100%);
}

p
{	
	font-size: 15px;
	color: hsl(212, 45%, 89%);
	text-align: center;
}

h1
{
	font-size: 18px;
	color: hsl(218, 44%, 22%);
	text-align: center;
}

#centerplan
{
	background-color: hsl(212, 45%, 89%);
	box-shadow: 0px 0px 10px 0px hsl(220, 15%, 55%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100em;
	margin: 10%;
}

#main
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10% 40%;
	background-color: hsl(0, 0%, 100%);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px hsl(220, 15%, 65%);
	padding: 0.6em;
}

@media screen and (max-width: 375px)
{
	#main
	{
		margin: 20% 5%;
	}
}

#qr
{
	width: 100%;
	border-radius: 10px;
}

#text
{
	width: 100%;
}



